<div class="container">
    <h1 class="text-center mb-5 mt-5"><i class="fas fa-rainbow"></i><i class="fas fa-rainbow"></i><i
            class="fas fa-rainbow"></i><i class="fas fa-rainbow"></i>Eat-Da-Taco<i class="fas fa-rainbow"></i><i
            class="fas fa-rainbow"></i><i class="fas fa-rainbow"></i><i class="fas fa-rainbow"></i></h1>
    <div class="row ">


        <div class="col">


            <div class="card mb-3 bg-transparent mx-auto text-center">
                <h4 class="text-center mb-4"><i class="fas fa-grin-squint-tears"></i> Yummy Tacos to eat! <i
                        class="fas fa-hand-lizard"></i></h4>

                <img src="/assets/tacoTop.png" class="card-img-top" alt="Taco Top">
                <div class="card-body">
                    <span>
                        {{#each tacos}}
                        {{#unless this.devoured}}
                        {{> taco/taco-block devoured=true}}
                        {{/unless}}
                        {{/each}}
                        </ul>
                        <img src="/assets/tacoBottom.png" class="card-img-top" alt="Taco Bottom">
                </div>
            </div>
        </div>




        <div class="col-3 text-center mx-auto">
            <div class="card p-3 mt-5 shadow">
                <blockquote class="blockquote mb-0">
                    <form class="create-taco">

                        <div class="form-group">
                            <label for="taco">New Taco:</label>
                            <input class="form-control" type="text" id="taco" name="name">
                        </div>
                        <button class="btn btn-danger" type="submit">Submit</button>

                    </form>
                </blockquote>
            </div>
        </div>


        <div class="col">

            <div class="card mb-3 bg-transparent mx-auto text-center">
                <h4 class="text-center mb-4"><i class="fas fa-sad-tear"></i>Sad Taco Memories<i
                        class="fas fa-money-bill-wave"></i></h4>

                <img src="/assets/tacoTop.png" class="card-img-top" alt="Taco Top">
                <div class="card-body">
                    <span>
                        {{#each tacos}}
                        {{#if this.devoured}}
                        {{> taco/taco-block devoured=false}}
                        {{/if}}
                        {{/each}}
                    </span>
                    <img src="/assets/tacoBottom.png" class="card-img-top" alt="Taco Bottom">
                </div>
            </div>
        </div>


    </div>
</div>