<p class="shadow">
    {{taco_name}}

    <button class="devour btn btn-outline-warning" data-id="{{ID}}" data-newdevour="{{devoured}}">
        {{#if devoured}}DEVOUR!{{else}}DIGEST{{/if}}
    </button>
</p>