<p class="shadow">
    {{taco_name}}

    <button class="devour btn btn-outline-success" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#if devoured}}EAT!{{else}}CRY!{{/if}}
    </button>
</p>