body {
  background-color: lightgreen;
}

.card {
  border: none;
}

.p-3 {
  background-color: lightsalmon;
}

p {
  background-color: magenta;
  margin-top: 16px;
}

.card-body {
  padding: 0;
}

h1 {
  font-size: 50px;
}
